<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/blog_detail.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="title"><a href="/">我的个人博客 | 技术博客</a></div>
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="sitemap.html">地图</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="guestbook.html">留言</a></li>
        </ul>
        <div class="search_bar">
            <input type="text" placeholder="输入关键词查找">
            <button>搜索</button>
        </div>
    </div>
</header>
<div class="content container clear">
    <div class="content_left">
        <!-- 文章内容 -->
        <div class="blog" id="blog_detail">
            <div class="blog_title">{{title}}</div>
            <div class="blog_msg">作者：Panda 标签：{{tags}} 发布于：{{ctime}} 浏览（{{views}}）</div>
            <div class="blog_content" v-html="content"></div>
        </div>
        <!-- 评论区 -->
        <div class="blog_comments" id="blog_comments">
            <span class="blog_comments_msg">当前文章：{{total}} 条留言</span>
            <div class="blog_comment" v-for="(item, index) in comments" :key="index">
                <div>
                    <b>{{item.userName}}</b>
                    ：{{item.options}}发表于 {{item.ctime}}
                    <a @click="reply(item.id, item.userName)">[回复]</a>
                </div>
                <div>{{item.comment}}</div>
            </div>
        </div>
        <!-- 发表评论 -->
        <div class="send_comment" id="send_comment">
            <span>发表评论</span>
            <div>
                <!-- comment_reply有回复的是正值，没有回复的为-1 -->
                <input type="hidden" v-model="replyId">
                <input type="hidden" v-model="replyName">
                <input type="text" placeholder="昵称" v-model="userName">
                <input type="text" placeholder="邮箱" v-model="email">
            </div>
            <div>
                <textarea placeholder="无意义的内容我可能不会回复你" v-model="content"></textarea>
            </div>
            <div>
                <input type="text" placeholder="验证码" v-model="code">
                <div v-html="vcode" @click="changeCode()"></div>
            </div>
            <button @click="submitComment()">提交评论</button>
        </div>
    </div>
    <div class="content_right">
        <!-- 随机标签云 -->
        <div class="module_box module_tag" id="randomTags">
            <div class="module_title">随机标签云</div>
            <div class="module_cont">
                <ul>
                    <li v-for="(item, index) in tags" :key="index">
                        <a href="#" :style="{color:randomColor(), fontSize:randomSize()}">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 最近热门 -->
        <div class="module_box module_hot" id="recentHot">
            <div class="module_title">最近热门</div>
            <div class="module_cont">
                <ul>
                    <li v-for="(item, index) in titleList" :key="index">
                        <a :href="item.link">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 最新评论 -->
        <div class="module_box module_comment" id="newComment">
            <div class="module_title">最新评论</div>
            <div class="module_cont">
                <ul>
                    <li v-for="(item, index) in commentList" :key="index">
                        <div class="clear">
                            <span class="name">{{item.name}}</span>
                            <span class="time">[{{item.date}}]</span>
                        </div>
                        <a :href="item.link">{{item.comment}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>Copyright © 2010-2017 zhouyy个人博客 All rights reserved</p>
</footer>
<script src="./js/base.js"></script>
<script src="./js/blog_detail.js"></script>
</body>

</html>